{% set simplerpc = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'simplerpc',
        'service': 'simplerpc',
        'conf_file': '/etc/simplerpc/simplerpc.conf',
    },
    'RedHat': {
        'pkg': 'simplerpc',
        'service': 'simplerpc',
        'conf_file': '/etc/simplerpc/simplerpc.conf',
    },
}, grain='os_family', merge=salt['pillar.get']('simplerpc:lookup')) %}


{% set simplerpc_config = salt['pillar.get']('simplerpc:config', {
    'key': 'value',
}, merge=True) %}

{# If Lithium gets released then below code can be uncommentted because it is more DRY #}
{#
{% set simplerpc = salt['grains.filter_by']({
    'default': {
        'pkg': 'simplerpc',
        'service': 'simplerpc',
        'conf_file': '/etc/simplerpc/simplerpc.conf',
        'config': {
            'key': 'value',
        },
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt['pillar.get']('simplerpc:lookup'), base='default') %}
#}
